<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test" >
    <test name="login">
        <classes>
            <class name="com.course.code.suit.SuiteConfig"></class>
            <class name="com.course.code.suit.LoginTest"></class>
            
        </classes>


</test>
    <test name="pay">
        <classes>
            <class name="com.course.code.suit.SuiteConfig"></class>
            <class name="com.course.code.suit.PayTest"></class>

        </classes>
    </test>
</suite>